*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card{
    width: 40%;
    display: flex;
    border:1px solid gray;
    box-shadow: 10px 14px 27px 3px rgba(0,0,0,0.62);
    -webkit-box-shadow: 10px 14px 27px 3px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 14px 27px 3px rgba(0,0,0,0.62);
    flex-direction: row;
    justify-content: space-between;
}

.card-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.span{
    font-weight: 400;
}

.h1{
    margin-top: 13px;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.p{
    margin-top: 5px;
    color: gray;
}